*{
    margin: 0;
    padding: 0;
    float: center;
}
body{
    background-color: rgba(131, 126, 126, 0.527);
    display: flex;
    justify-content: center;
}
.textarea{
    width: 100vw;
    height: 50px;
    background-color: rgb(34, 32, 32);
    display: flex;
    justify-content: center;
    align-items:center;
}
.container{
    display: inline-block;
    width: 40%;  
}
.container span{
    display: flex;
    color: rgb(230, 238, 233);
    float: left;
    font-size: 24px;
}
.inputarea{
    float: right;
    margin-right: 5px;
}
.inputbox{
    width: 20vw;
    height: 24px;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 5px;
}
.inputbox:focus{
    border:none;
    outline: none;
}
.btn{
    height: 24px;
    font-weight: bolder;
}
.listarea{
    display: flex;
    justify-content: center;
}
.content{
    width: 40%;
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
li span{
    font-size: 20px;
    font-weight: bolder;
}
.todoarea{
    margin-top: 10px;
    margin-left: 20px;
}
.todoarea li{
    background: rgb(252, 244, 244);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}