.list-posts{
    width: 100%;
    height: auto;
}
.list-posts-item{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 10px;
    box-sizing: border-box;
    line-height: 30px;
    border: 1px solid rgba(194, 194, 194, .5);
    box-shadow: 0 3px 5px rgba(194, 194, 194, .8);
}
.list-posts-item:hover{
    box-shadow: 0px 3px 20px rgba(194, 194, 194, 1);
}
.list-posts-item h3{
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    color: #64b0dc;
    padding: 20px 20px 0 20px;
}
.list-posts-item p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    color: #999;
    padding: 0 20px;
}
.list-posts-item .post-panel{
    padding: 15px 0;
    background-color: #f2f2f2;
    box-shadow: 0 1px 0 #fff;
    color: #999;
    font-size: 12px;
    display: flex;
}
.list-posts-item .post-panel span{
    margin-left: 30px;
}
.list-posts-item .post-panel span:first-of-type{
    margin-left: 20px;
}