<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <style>
        .box{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="box">
            <div>
                <input type="text" v-model="message" @keyup.enter="add">
            </div>
            <div>
               <ul>
                    <li v-for="(item,index) in list" @click="remove(index)">
                        {{item}}
                    </li>
                </ul> 
            </div>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message:'',
                list:['吃饭','洗澡']
            },
            methods: {
                add:function(){
                    this.list.push(this.message);
                    this.message='';
                },
                remove:function(index){
                    this.list.splice(index,1);
                    // console.log(index);
                }
            },
        })
    </script>
</body>

</html>