body {
  padding-top: 150px;
  padding-left: 200px;
}
main {
  width: 150px;
  position: relative;
}
main div {
  border: 1px solid salmon;
  text-align: center;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
main div:nth-of-type(1) {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
main div:nth-of-type(2) {
  width: 200px;
  position: absolute;
  right: 0;
  top: 49px;
  border: 1px solid salmon;
  z-index: 1;
  display: none;
}
main:hover div:nth-of-type(1) {
  border-bottom: none;
}
main:hover div:nth-of-type(2) {
  display: block;
}
