article {
  width: 200px;
  height: 200px;
  overflow: scroll;
  border: 1px solid red;
  margin-top: 100px;
  margin-left: 200px;
}
article div {
  width: 180px;
  height: 300px;
}
article div h2 {
  background-color: red;
  position: sticky;
  top: 0;
  margin: 0;
}
