/* 头部样式 */
.header{
    width: 100%;;
    height: 300px;;
    background-color: #F6F7F9;
    margin-bottom: 10vh;
}
/* 头部样式 */
.navArea{
    width: 100%;
    height: 100px;
}
.navbar{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.navbar button{
    margin: 0 20px 0 20px;
    border: 0;
    min-width: 30px;
    font-size: 20px;
    font-weight:200;
    background-color: rgba(255, 255, 255, 0);  
}
.navbar button a{
    color: rgba(187, 182, 177, 0.842);
}
.navbar button a:focus{
    outline: 0;
}
.navbar button a:hover{
    color: black;
}
/* 分割线 */
.divder{
    border-left: 1px solid rgba(77, 75, 72, 0.452);
}

.iconBar{
    /* background-color: burlywood; */
    width: 100%;
    height: 100px;
    display: flex;
}
.icon{
    margin: auto;
}
.searchBar{
    width: 100%;
    height: 100px;
    /* background-color: blue; */
}
.search{
    text-align: center;
}
.search input{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    border: 0;
    padding-left: 45px;
    background-image: url('./icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    box-shadow:0 0 10px rgb(34, 59, 83);
}
.search input:focus{
    outline: 0;
    border: 0;
}

/* book css */
.bookShelf{
    /* background-color: rgb(92, 212, 88); */
    height: 40vh;
    border-bottom: 10vh;
}
.bookShelf_text{
    font-weight: 300;
    height: 5vh;

}
.bookShelf_text h2{
    font-family: serif;
    float: left;
    margin-left: 2vw;
}
.bookShelf_text span{
    font-size: 14px;
    float: right;
    margin-right: 3.2vw;
}

.myBookCard{
    width: 18vw;
    background-color: #F6F7F9;
    height: 9.7vw;
    float: left;
    margin: 2vw;
    display: flex;
    border-radius: 5px;
}
.myBookCard:hover{
    background-color: #EDEEEF;
}
.myBookCard_body{
    margin: auto;
    width: 15vw;
    height: 8vw;
    display: flex;
}
.myBookCard_body img{
    width: 100%;
    height: 100%;
}
.myBookCard_body_img{
    max-height: 8vw;
    max-width:5.4vw;
}
.myBookCard_body_info{
    /* background-color: #fff; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
    width: 10vw;
    padding: 0;
}
.myBookCard_body_info_title{
    word-wrap: normal;
    font-weight: bolder;
    font-family: Impact;
    font-size: 18px;
}

/* 推荐卡片 */
.recommend{
    widows: 100%;
    height: 75vh;
}
.tuiCard{
    width: 18vw;
    background-color: #F6F7F9;
    float: left;
    margin: 2vw;
    display: flex;
    border-radius: 5px;
    border-bottom: 0vh;
}
.tuiCard:hover{
    background-color: #EDEEEF;
}
.tuiCard_body_img{
    width: 18vw;
    height: 16vw;
    display: flex;
}
.tuiCard_body img{
    width: 8vw;
    height: 12vw;
    margin: auto;
}
.tuiCard_body_info{
    height: 8vw;
}
.tuiCard_body_info_title{
    width: 100%;
    height: 2vw;
    text-align: center;
    font-weight: bolder;
}
.tuiCard_body_info_author{
    width: 100%;
    height: 2vw;
    text-align: center;
}
.tuiCard_body_info_reason{
    width: 100%;
    height: 2vw;
    text-align: center;
}

.rankContainer{
    width: 100%;
    height: 175vh;
    /* background-color: blueviolet; */
}
.weeklist{
    width: 40vw;
    height: 80vh;
    margin-left: 2vw;
    margin-right: 2vw;
    /* background-color: rgb(39, 184, 46); */
    margin-bottom: 10vh;
    float: left;
}
.weeklist_header{
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid #EDEEEF ;
    
}
.weeklist_header_banner{
    height: 6vh;
}
.weeklist_header_banner img{
    height: 100%;
}
.weeklist_header_title{
    color: #FA93BC;
}
.weeklist_body{
    width: 100%;
    height: 60vh;
    background-color: #fff;
}
.weekCard_body{
    width: 46%;
    height: 20vh;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #F6F7F9;
    float: left;
    border-bottom: 1px solid #EDEEEF;
}
.weekCard_body:hover{
    background-image: linear-gradient(to right, #f66,#fff);
}
.weekCard_body_img{
    width: 40%;
    height: 100%;
    display: flex;
    /* background-color: blue; */
}
.weekCard_body_img img{
    margin: auto;
    width: 80%;
    height: 80%;
}
.weekCard_body_info{
    width: 60%;
    height: 100%;
    float: right;
    margin-top: -50%;
}
.weekCard_body_info_title{
    height: auto;
    width: 80%;
    /* background-color: rgb(124, 37, 37); */
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bolder;
}
.weekCard_body_info_author{
    height: 5vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: rgb(124, 37, 37); */
}
.weeklist_footer{
    height: 8vh;
    color: #A4A8AE;
}

.classifyList{
    width: 100%;    
}

.index-footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}