*{
    margin: 0;
    padding: 0;
}
.mainDiv{
    border: 1px solid yellowgreen;
    widows: 100%;
    height: 400px;
    display: flex;
}
.leftNav{
    border: 1px solid slateblue;
    background-color: burlywood ;
    float: left;
    width: 20%;
}
.rightNav{
    border: 1px solid salmon;
    width: 30%;
}